<!DOCTYPE html>
<html>
    <head>
        <title>INOWAS pyModelling Webservice</title>
        <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/jasny-bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/prism.css') }}">
    </head>
    <body>
        {% block content %}{% endblock %}
        <script src="{{ asset('/js/jquery.min.js') }}"></script>
        <script src="{{ asset('/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('/js/jasny-bootstrap.js') }}"></script>
        <script src="{{ asset('/js/prism.js') }}"></script>
    </body>
</html>
